
$nl-bg: #333
$nl-fancy-bg: #442233
$nl-fancy-bg2: #332244
$nl-text-light: #eee

$green: #D4E0FA
$blue: #BCD5F3
$purple-d: #DDC3E0
$purple-l: #EECEE5
$pink-d: #F4DAE3
$pink-l: #F8E7DF

$light: #f8f9fa

h1,
h2
  text-align: center

h1,
h2
  color: $light

p
  line-height: 2rem


.navbar
  background: $pink-l
  position: fixed

.overlay-wrapper
  position: relative

.overlay
  position: absolute
  right: 0
  left: 0
  top: 0
  bottom: 0
  background: $nl-bg
  background: rgba(29, 29, 29, 0.5)
  h1
    text-align: center
    color: $nl-text-light

.lightener
  background: rgba(255, 255, 255, 0.05)

.hidden
  opacity: 0

.main-ctr
  padding-left: 2rem
  padding-right: 2rem

.jumbotron
  background: none
  margin-bottom: 0
  padding: 6rem 0
  h1,
  h2
    padding: 4rem 2rem
    border-top: 1px solid $light
    border-bottom: 1px solid $light

.about-image
  height: 500px
  overflow: hidden

img.about
  max-width: 150%
  min-width: 850px

#about
  .first
    background: linear-gradient(to left, rgba(248, 231, 223, 1), rgba(248, 231, 223, 0.6))
  .second
    background: linear-gradient(to right, rgba(221, 195, 224, 1), rgba(221, 195, 224, 0.6))
  .overlay
    padding: 2rem 4rem 2rem 2rem

.all-goats
  background: $nl-bg

.snapshot
  border: 20px solid white
  border-radius: 4px
  &.one
    transform: rotate(-28deg)
  &.two
    transform: rotate(40deg)
  &.three
    transform: rotate(12deg)


.goat-profile
  padding: 2.5rem 1rem
  &.one
    background: $purple-d
  &.two
    background: $purple-l
  &.three
    background: $pink-d

#products
  .left
    background: $nl-fancy-bg
  .right
    background: $nl-fancy-bg2
  .left,
  .right
    padding-bottom: 3rem
    h1
      padding: 3rem 2rem 6rem 2rem
      text-align: center

.card-body
  background: $nl-fancy-bg2

#carouselExampleIndicators
  img
    height: 100%

.product-info
  background: $blue
  .container
    padding: 1rem 3rem

.product-statement
  background: $purple-d
  margin-bottom: 60px
  h2
    margin-bottom: 1rem


.caro-link
  .caro-button
    opacity: 0

.caro-link:hover
  background: rgba(0, 0, 0, 0.4)
  .caro-button
    opacity: 1

#footer
  .footer-content
    background: $purple-l
    padding: 3rem
    margin: 0
  h4
    padding-bottom: 10px
    border-bottom: 1px solid #212529
  li
    padding-bottom: 10px
  ul
    margin-bottom: 5rem
  .row
    margin-bottom: 10rem

@media only screen and (max-width: 767px)
  .snapshot
    border: 20px solid white
    border-radius: 4px
    margin-bottom: 30px
    &.one
      transform: rotate(0deg)
    &.two
      transform: rotate(0deg)
    &.three
      transform: rotate(0deg)

@media only screen and (min-width: 768px)
  #topCarousel
    .carousel-item
      height: 500px
      overflow: hidden
